# This is an example of a .env configuration, you should copy it as .env and
# edit values used for your own testing environment.

# The cluster name of the management cluster.
NAME=kf-mgmt-1

# Location of the management cluster. You can choose either regional or zonal.
LOCATION=asia-east1-c

# Google Cloud project where this management cluster is created in.
PROJECT=your-project

# The project this management cluster manages. For simplicity, you can set it to the same project.
MANAGED_PROJECT=your-managed-project

# a GCS bucket name you will create and verify using config connector.
BUCKET=your-bucket-name

# For development, you can edit and uncomment the following line to point to your own branch.
# MANIFESTS_URL=https://github.com/USER/gcp-blueprints.git/management@BRANCH
